<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Параметры подключения к базе данных -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">berbedos31</property>

        <!-- Настройки диалекта -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Включение логгера SQL-запросов -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Опционально: автоматическое создание таблиц при старте приложения -->
        <!-- В реальном приложении обычно не рекомендуется использовать эту опцию на продакшене -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property> <!-- Зависит от выбранного провайдера -->
        <property name="hibernate.javax.cache.missing_cache_strategy">create</property>
        <!-- Маппинг классов -->
        <mapping class="org.trainee.hw_hibernate.entities.Student" />
        <mapping class="org.trainee.hw_hibernate.entities.Group" />
        <mapping class="org.trainee.hw_hibernate.entities.Teacher" />
        <mapping class="org.trainee.hw_hibernate.entities.AbstractCorporation" />
        <mapping class="org.trainee.hw_hibernate.entities.AppleCorporation" />
        <mapping class="org.trainee.hw_hibernate.entities.TeslaCorporation" />
        <mapping class="org.trainee.hw_hibernate.entities.MicrosoftCorporation" />
    </session-factory>
</hibernate-configuration>